<!DOCTYPE html>
<html lang="en">
<head>
	<title>Fair Foods at Lena Park Order Administration</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
		integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div class='container'>
		<!-- Banner at top of page -->
		<header class='container-fluid' style="background-color: #e9ecef;">
			<div class="headerSpacing">
				<h2>Fair Foods at Lena Park - Order Administration</h2>
				<img src="../img/fairFoodsSm.jpg">
			</div>
		</header>
		<!-- Display all orders -->
		<!--  for(let i = 0; i < orders.length; i++) { -->
		<table id="orderList">
			<tr>
				<th>Customer</th>
				<th>Number of bags</th>
			</tr>
			<tr>
				<td>Sample customer</td>
				<td>##</td>
			</tr>
			<tr>
				<td>Sample customer 2</td>
				<td>##</td>
			</tr>
		</table>



	</div>
</body>

</html>