<!DOCTYPE html>
<html lang="en">

<head>
	<title>Fair Foods at Lena Park Order Administration</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<div class='container'>
		<!-- Banner at top of page -->
		<header class='container-fluid' style="background-color: #e9ecef;">
			<div class="headerSpacing">
				<div>
					<h2>Fair Foods at Lena Park - Order Administration</h2>
					<p style="text-align: center;"><a href="/">Return to home page</a></p>
				</div>
				<img src="../img/fairFoodsSm.jpg">
			</div>
		</header>
		<!-- Display all orders -->
		<table id="orderList">
			<tr>
				<th>Customer</th>
				<th>Number of bags</th>
				<th>Status</th>
				<th>Delete?</th>
			</tr>
			<% if(orders[0]){ %>
				<% for(let i=0; i < orders.length; i++) { %>
					<tr>
						<td><%= orders[i].clientName %></td>
						<td><%= orders[i].bags %></td>
						<td><button class="btn btn-secondary btn-sm">Fulfill</button></td>
						<td><i class="fas fa-trash-alt"></i></td>
					</tr>
					<% orderTotal += Number(orders[i].bags) %>
				<% } %>
				<tfoot>
					<tr>
						<td>Total grocery bags</td>
						<td><%= orderTotal %></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			<% } else { %>
				<tr>
					<td>No orders entered</td>
					<td>##</td>
					<td></td>
					<td></td>
				</tr>
			<% } %>
		</table>



	</div>
</body>

</html>